.header {
  display: flex;
  gap: 3rem;
  margin: 3rem auto 5rem auto;
  max-width: 80rem;
  padding: 0 1rem;
}

.image {
  position: relative;
  width: 30rem;
  height: 20rem;
}

.image img {
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
}

.headerText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.headerText h1 {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  color: #ddd6cb;
  text-transform: uppercase;
}

.creator {
  font-size: 1.5rem;
  color: #cfa69b;
  font-style: italic;
}

.creator a {
  background: linear-gradient(90deg, #f9572a, #ff8a05);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: none;
}

.creator a:hover,
.creator a:active {
  background: linear-gradient(90deg, #fd4715, #f9b241);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.summary {
  font-size: 1.5rem;
  color: #ddd6cb;
}

.instructions {
  font-size: 1.25rem;
  line-height: 2;
  background-color: #6e6464;
  color: #ddd6cb;
  border-radius: 8px;
  padding: 2rem;
  max-width: 60rem;
  margin: 2rem auto;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
  white-space: pre-wrap;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: center;
  }

  .image {
    width: 100%;
    height: 15rem;
  }

  .headerText h1 {
    font-size: 2rem;
  }

  .creator {
    font-size: 1.2rem;
  }

  .summary {
    font-size: 1.2rem;
  }
}